body{
    margin: -11rem 0 0 0;
    padding: 0;
    font-family:'Quicksand', sans-serif;
}

/* SECCION DEL HEADER Y DEL HERO*/
header{
    height: 42rem;
    margin: 0rem 3rem 3rem 3rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.2rem rgba(158, 156, 156, 0.8);

}

header .logo{
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    padding-top: 3rem;
    padding-left: 2rem;

    
}

.dibujologo{
    background-color: rgb(249, 245, 245); 
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding-top: 1rem;
    margin-top: -1rem;
    box-shadow: 0.5rem 0.5rem 1rem  rgba(0, 0, 0, 0.2);
}


nav{
    position: relative;
    right: 3rem;
    top: 2rem;
}

a{
  text-decoration: none; 
  font-size: 1.6rem;
  margin-right: 2rem;
  color: rgba(233, 66, 10, 0.952);
}

header a:hover {
    color: white;
    background-color: rgba(233, 66, 10, 0.952);
}

.hero{
    height: 70vh ;
    margin-top: 13rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

.hero1{
    height: 80%;
    width: 45%;
    padding-top: 5rem ;
    margin-left: 5%;
}
.hero2{
    height: 80%;
    width: 45%;
    padding-top: 5rem;
}

.hero1 h1{
    font-size: 5.7rem;
    margin: 0 0 0 7rem;
    padding-top: 3rem;
    color: rgb(161, 185, 209);
}
.hero1 h3{
    font-size: 2.5rem;
    display: flex;
    justify-content: end;  
    color: rgb(161, 185, 209);
    margin-top: 0.5rem;
}

.hero1 button{
    width: 15rem;
    margin-left: 60%;
    font-size: 1.6rem;
    padding: 1rem 3.1rem;
    margin-top: -1rem;
    border-radius: 1rem;
    background-color: rgba(175, 140, 88, 0.979);
    border-color:rgba(175, 140, 88, 0.979) ;
    color: white;
    box-shadow: none;
}


.hero1 button:hover{
    color:rgba(175, 140, 88, 0.979);
    background-color: white;
}


/* SECCION ABOUT ME */
.about{
    margin-bottom: 3rem;
}


.textoabout{
    display: flex;
    flex-direction: column;
}

.texto1{
    display: flex;
    justify-content: center;
    font-size: 5em;
    margin-bottom: 0;
    color: rgb(212, 169, 176);
}

.texto2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(161, 185, 209);
    margin-bottom: 9rem;
}

.estudios{
    display: flex;
    justify-content: space-evenly;
}

.estudios div{
    border: 1px solid rgba(248, 243, 243, 0.8);
    width: 16rem;
    height: 16rem;
    padding-top: 2rem;
    border-radius: 3rem;
    box-shadow: 0 0 0.3rem rgba(158, 156, 156, 0.8);
    
}

.dibujoestudios{
    height: 10rem;
    width: 10rem;
    padding-top: -5rem;
    padding-left: 3rem;
    
}

.cuadrados:hover{
       transform: scale(1.1);
}

.dibujoestudios1{
    height: 8rem;
    width: 8rem;
    padding-top: -11rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    
}

.estudios div h3{
    font-size: 2rem;
    color: rgb(161, 185, 209);
    padding-top: 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding-left: 4rem;
}



/* SECCION IMAGENES*/
.imagenes{
    background-color: rgb(242, 41, 41);
    display: flex;
    justify-content: end;
}

/*SECCION WORK*/
.work{
    margin-bottom: 2rem;
}

.worktexto1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 0;
    color: rgb(212, 169, 176);
}

.worktexto2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(161, 185, 209);
}

.worktp{
    display: flex;
}

.tp1, .tp2, .tp3{
    border: 1px solid black;
}

.tp1tp2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tp1{
    width: 25rem;
    height: 18rem;
    margin-bottom: 3.5rem;
}

.tp2{
    width: 25rem;
    height: 14rem;
}

.tp3{
    width: 20rem;
    height: 25rem;
    margin-left: 20%;
    margin-right: 5%;

}

/*SECCION DIBUJO Y TITULO*/

.titulo{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: rgb(212, 169, 176);
}

/*SECCION FORMULARIO*/
.formulario{
    display: flex;

}
.redessociales{
    width: 40%;
    font-size: 1.7rem;
    padding-left: 5rem;
    padding-top: 6rem;
    height: 35rem;
    
}

.social{
    display: flex;  
}


.social img{
    width: 3rem;
    height: 4.8rem;
    padding-top: 1rem;
}

.social img:hover{
     transform: scale(1.1);

}

div h4{
    color: rgb(161, 185, 209);
    text-align: center;
    padding-left: 2rem;
    
}
.mensaje{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(249, 249, 249);
    box-shadow: 0 0 1rem rgba(215, 213, 213, 0.8);
    width: 45%;
    height: 45rem;
    padding-top: 5.5rem; 
    padding-left: 10rem;
    margin-right: 3rem;
    
    
}

.mensaje input{
    width: 80%;
    height: 4.1rem;
    margin-bottom: 2.8rem;
    border: 1px solid rgb(161, 185, 209);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: brown;
    
}


textarea{
    width: 80%;
    height: 17rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgb(161, 185, 209);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family:'Quicksand', sans-serif;
    color: brown !important;
}


.mensaje button{
    width: 15rem;
    height: 5rem;
    margin-left: 20%;
    border-radius: 1rem;
    color: white;
    background-color: rgba(175, 140, 88, 0.979);
    font-size: 1.7rem;
    
    
}

.mensaje h3{
    font-size: 1.6rem;
    color: rgb(161, 185, 209);
}

/*SECCION FOOTER*/

footer{
    color: white;
    background-color: black;
    height: 20rem;
    padding-top: 5rem;
    margin-top: -8rem;
}

footer a{
    color: white;
    font-size: 1.3rem;
}

footer nav{
    margin-left: 5rem;
}