body{
    margin: 0;
    padding: 0;
    font-family:'Quicksand', sans-serif;
}

/*SECTOR MEDIA QUERIES*/
/*Para compu*/
@media (min-width: 769px){
    .hero{
        width: 100%;
    }
}
 
/*Para tablet*/

@media (min-width: 481px) and (max-width:768px){
    .logo nav{
        display: none;
    }
    .hero{
        margin-left: -10rem;
    }
    .hero2{
        display: none;
    }
    .hero1{
        padding-left: 0;
    }
    .textoabout h2{
        display: none;
    }
    .textoabout p{
        display: none;
    }
    .estudios{
        flex-direction: column;
        position: relative;
        top: -7rem;
    }
    .cuadrados{
        margin-left: 12rem;
        margin-bottom: 2rem;
    } 
    .dibujo1{
        width: 2rem;
    } 
    .dibujo2{
        width: 2em;
    } 
    .imagenes .dibujo3{
        margin-right: 10rem;
        margin-top: -3rem;
    }
    .imagenes .dibujo4{
        display: none;
    }
    .work .worktexto{
        margin-top: 20rem;
    }
    .worktexto p{
        display: none;
    }
    .worktexto .worktexto1{
        margin-left: -4rem;
    }
    .worktp .tp3{
        margin-left: 1rem;
        margin-right: 0;
        width: 12rem;
        height: 20rem;
    }
    .tp1tp2 .tp1{
        width: 12rem;
        height: 20rem;
    }
    .tp1tp2 .tp2{
        width: 12rem;
        height: 20rem;
        margin-top: -3.5rem;
    }
    .worktp .tp1tp2{
        display: flex;
        flex-direction: row;
    }
    .tp3 .tres{
        width: 10rem;
        height: 15rem;
    }
    .tp1 .dos{
        width: 15rem;
        padding-top: 3rem;
    }
    .tp2 .uno{
        width: 11rem;
        padding-left: 1rem;
        padding-top: 5rem;
    }
    .dibujo-titulo .rama{
        width: 10rem;
    }
    .dibujo-titulo .titulo{
        font-size: 3rem;
    }

    .formulario{
        display: flex;
        flex-wrap: wrap;
    }
    .redessociales{
        margin-left: 5rem;
    }

    .formulario .mensaje{
        margin-left: 3rem;
        margin-right: 3rem;
        width: 30rem;
        height: 50rem;
        margin-top: -6rem;
        z-index: 2;
    }
    .mensaje h3{
        padding-right: 13rem;
    }
    .mensaje button{
        position: relative;
        right: 6rem;
    }

    footer{
        height: 50rem;
        width: 100%;
        position: relative;
        top: 2rem; 
        padding-bottom: 0;
        display: flex; 
    }
    footer nav{
       height: 20rem;
       margin-top: -10rem;
       padding-top: 6rem;
       display: flex;
       flex-direction: column;
       z-index: 1;
       font-size: 10rem;
       margin-left: -15rem;
    }
    footer a{
        width: 11rem;
        padding-left: 7rem;
        padding-bottom: 1rem;

    }
    footer img{
        height: 10rem;
        margin-top: 2rem; 
        position: relative;
        right: 18rem;
    }
    
}
     

/*Para celular*/

@media (min-width:320px) and (max-width: 480px){
    header{
        width: 1rem;
        margin-right: 0;
    }
    .logo nav{
        display: none;
    }
    .hero2{
        display: none;
    }
    .textoabout{
        display: none;
    }
     .estudios{
        flex-direction: column;
    }  
    .textoabout h2{
        display: none;
    }
    .textoabout p{
        display: none;
    }
    .dibujo1{
        display: none;
    } 
    .dibujo2{
        display: none;
    }  
    .cuadrados{
        margin-left: 10rem;
        margin-bottom: 2rem;
    }
    .imagenes .dibujo3{
        display: none;
    }
    .imagenes .dibujo4{
        display: none;
    }
    .work .worktexto{
        margin-top: 20rem;
    }
    .worktexto p{
        display: none;
    }
    .worktexto .worktexto1{
        margin-left: 5rem;
    }
    .work .worktp{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        margin-left: 3rem;
    }
    .worktp .tp3{
        margin-left: 1rem;
        margin-right: 0;
        width: 8rem;
        height: 20rem;
    
    }
    .tp1tp2 .tp1{
        width: 7rem;
        height: 20rem;

        margin-left: 2rem;
    }
    .tp1tp2 .tp2{
        width: 7rem;
        height: 20rem;
        margin-top: -3.5rem;
        margin-left: 2rem;
    }
    .worktp .tp1tp2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .dibujo-titulo .rama{
        display: none;
    }
    .dibujo-titulo .titulo{
        font-size: 2rem;
    } 
    .formulario{
        display: flex;
        flex-wrap: wrap;
    }
    .redessociales{
        display: flex;
        width: 40rem;
    }
    .social{
        margin-left: 3rem;
    }
    
    .social h4{
        display: none;
    }
    
    .formulario .mensaje{
        margin-top: -23rem;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 26rem;
        height: 50rem;
    }
    footer{
        width: 100vw;
        padding-left: 5rem;
        padding-right: 8rem;
    }
    footer img{
        display: none;
    }
    footer nav{
        padding-left: 0rem;
        padding-top: 10rem;
        width: 35rem;
    }
    footer a{
        margin-right: 1rem;
    }
}
 

/* SECCION DEL HEADER Y DEL HERO*/
header{
    height: 40rem;
    width: 94%; 
    margin-left: 3rem;
    margin-top: -9rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.2rem rgba(158, 156, 156, 0.8);

}

header .logo{
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    padding-top: 3rem;
    padding-left: 2rem;   
}

.dibujologo{
    background-color:rgb(249, 245, 245); 
    width: 10rem;
    border-radius: 50%;
    margin-top: -1rem;
    margin-left: 2rem;
    box-shadow: 0.3rem 0.3rem 1rem  rgba(0, 0, 0, 0.1);
}
.logo1{
    width: 9rem;
    margin-top: -2.4rem;
    margin-left: -0.5rem;
}


header nav{
    position: relative;
    right: 2rem;
    top: 2rem;
}

a{
  text-decoration: none; 
  font-size: 1.6rem;
  margin-right: 2rem;
  color: rgba(233, 66, 10, 0.952);
  
}

header a:hover {
    text-decoration: underline;
}

.hero{
    height: 70vh ;
    margin-top: 13rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

.hero1{
    height: 30rem;
    width: 30rem;
    padding-top: 5rem ;
    margin-right: 0;
}
.hero2{
    height: 30rem;
    width: 30rem;
    padding-top: 1rem;
    padding-left: 3rem;
}

.hero2 img{
    margin-left: 8rem;

}

.hero1 h1{
    font-size: 6rem;
    margin: 0;
    width: 100%;
    padding-top: 3rem;
    color: rgb(161, 185, 209);
    display: flex;
    justify-content: end;

}
.hero1 h3{
    font-size: 2.5rem;
    display: flex;
    justify-content: end;  
    color: rgb(161, 185, 209);
    margin-top: 0.5rem;
}

.hero1 button{
    width: 15rem;
    margin-left: 15rem;
    font-size: 1.6rem;
    padding: 1rem 3.1rem;
    margin-top: -1rem;
    border-radius: 1rem;
    background-color: rgba(175, 140, 88, 0.979);
    border:1px solid rgba(175, 140, 88, 0.979);
    color: white;
    box-shadow: none;
    
}


.hero1 button:hover{
    color:rgba(175, 140, 88, 0.979);
    background-color: white;
}


/* SECCION ABOUT ME */
.about{
    margin-bottom: 3rem;
}

.contenedor1{
    display: flex;
}
 .contenedor1 div{
    display: flex;
 }

.dibujo1{
    width: 30rem;
    height: 30rem;
    margin-left: -10rem;
}
.dibujo2{
    width: 8rem;
    height: 12rem;
    margin-left: -13rem;
    margin-top: 7rem;
}

.textoabout{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-left: 5rem;
}

.texto1{
    display: flex;
    justify-content: center;
    font-size: 5em;
    margin-bottom: 0;
    color: rgb(240, 142, 147);
}

.texto2, .texto3{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: rgb(161, 185, 209);
    margin-bottom: -1.5rem;
}

.estudios{
    display: flex;
    justify-content: space-evenly;
}

.estudios div{
    border: 1px solid rgba(248, 243, 243, 0.8);
    width: 18rem;
    height: 13rem;
    padding-top: 2rem;
    border-radius: 3rem;
    box-shadow: 0 0 0.3rem rgba(158, 156, 156, 0.8);
    
}

.dibujoestudios{
    height: 9.5rem;
    width: 9.5rem;
    padding-top: -1rem;
    padding-bottom:0rem;
    padding-left: 4rem;
    margin-bottom: 0; 
}

.cuadrados:hover{
       transform: scale(1.1);
}

.dibujoestudios1{
    height: 7rem;
    width: 7.5rem;
    padding-top: -11rem;
    padding-left: 5rem;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    
}

.estudios div h3{
    font-size: 2rem;
    color: rgb(161, 185, 209);
    padding-top: 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding-left: 5rem;
}
.dosh3{
    margin-left: -1.5rem;
}
.tresh3{
    margin-left: -1rem;
}



/* SECCION IMAGENES*/
.imagenes{
    display: flex;
    justify-content: end;
    margin-bottom: 0;
}

.dibujo4{
    width: 20rem;
    height: 20rem;
    margin-right: 0rem;
    margin-top: 0;
}
.dibujo3{
    width: 8rem;
    height: 12rem;
    margin-right: 3rem;
    position: absolute;
}

/*SECCION WORK*/
.work{
    margin-top: -10rem;
    margin-bottom: 2rem;

}

.worktexto1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 0;
    color: rgb(240, 142, 147);
}

.worktexto2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(161, 185, 209);
}

.worktp{
    display: flex;
    margin-left: 3rem;
}

.tp1, .tp2, .tp3{
    border: 3px solid black;
}

.tp1tp2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tp1{
    width: 25rem;
    height: 14rem;
    margin-bottom: 3.5rem;
    padding-left: 3rem;
}
.uno{
    width: 25rem;
    height: 10rem;
}

.tp2{
    width: 25rem;
    height: 10rem;
}
.dos{
    width: 25rem;
    height: 14rem;
    margin-left: -1rem;
}

.tp3{
    width: 20rem;
    height: 25rem;
    margin-left: 20%;
    margin-right: 5%;
}
.tres{
    width: 18rem;
    height: 23rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

/*SECCION DIBUJO Y TITULO*/

.rama{
    width: 20rem;
    margin-left: -3.5rem;
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: rgb(240, 142, 147);
    margin-top: -1rem;
}

/*SECCION FORMULARIO*/
.formulario{
    display: flex;

}
.redessociales{
    width: 35rem;
    font-size: 1.7rem;
    padding-left: 5rem;
    padding-top: 6rem;
    height: 35rem;
    
}

.social{
    display: flex;  
}


.social img{
    width: 3.5rem;
    height: 4rem;
    padding-top: 1rem;
}

.social img:hover{
     transform: scale(1.1);
}

div h4{
    color: rgb(161, 185, 209);
    text-align: center;
    margin-left: 2rem;  
}
.social a{
    color: rgb(161, 185, 209);
}

.social a:hover{
    color: white;
    background-color: rgb(161, 185, 209);
}

.mensaje{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(249, 249, 249);
    box-shadow: 0 0 1rem rgba(215, 213, 213, 0.8);
    width: 45%;
    height: 45rem;
    padding-top: 5.5rem; 
    padding-left: 10rem;
    margin-right: 3rem;  
}

.mensaje input{
    width: 80%;
    height: 4rem;
    margin-bottom: 2.8rem;
    border: 1px solid rgb(161, 185, 209);
    border-radius: 0.5rem;
    font-size: 1.5rem;   
}

.mensaje ::placeholder{
    color: rgb(231, 224, 224);
}
.mensaje .mensaje1{
    width: 80%;
    padding-bottom: 14rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgb(161, 185, 209);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family:'Quicksand', sans-serif;
    z-index: 2;
}


.mensaje button{
    width: 15rem;
    height: 5rem;
    padding-top: -20rem;
    margin-top: -9rem;
    margin-left: 10rem;
    border: 1px solid rgba(175, 140, 88, 0.979);
    border-radius: 1rem;
    color: white;
    background-color: rgba(175, 140, 88, 0.979);
    font-size: 1.7rem;       
}

.mensaje button:hover{
    color:rgba(175, 140, 88, 0.979);
    background-color: white;
}

.mensaje h3{
    font-size: 1.4rem;
    color: rgb(161, 185, 209);
    margin-bottom: 2rem;
    margin-left: 7rem;
}
.imagenformulario{
    width: 19rem;
    margin-top: -18rem;
    margin-left: -13.3rem;
    padding-bottom: -10rem;
    z-index: 1;
}

/*SECCION FOOTER*/

footer{
    color: white;
    background-color: black;
    height: 15rem;
    padding-top: 5rem;
    margin-top: -8rem;
    
}

footer a{
    color: white;
    font-size: 1.3rem;
}

footer a:hover{
    text-decoration: underline
}
footer nav{
    margin-left: 1rem;
    margin-top: -3rem;
    padding-left: 2rem;
}

.paloma{
    width: 15rem;
     margin-left: 18rem;
}