header{
    background-color: aquamarine;
}

.about{
    background-color: blueviolet;
}

.imagenes{
    background-color: rgb(242, 41, 41);
}

.work{
    background-color: aqua;
}

.tp{
    border: 1px solid black;
}

.dibujo-titulo{
    background-color: blue;
}

.redessociales{
    background-color: lightcoral;
}

.mensaje{
    background-color: lightgreen;
}

.footer{
    background-color: aquamarine;
}