body{
    margin: 0;
    padding: 0;
}


header{
    background-color: aquamarine;
}

.about{
    background-color: blueviolet;
}

.estudios{
    background-color: brown;
}

.imagenes{
    background-color: rgb(242, 41, 41);
}

.work{
    background-color: aqua;
}

.tp{
    border: 1px solid black;
}

.dibujo-titulo{
    background-color: blue;
}
