body{
    margin: 0;
    padding: 0;
}


header{
    background-color: blue;
    border: 1px solid black;
}

header .logo{
    background-color: lightgreen;
    display: flex;
}

header .hero{
    display: flex;
}
.hero2{
    background-color: coral;
}

.about{
    background-color: blueviolet;
}


.textoabout{
    display: flex;
    flex-direction: column;
}

.texto1{
    display: flex;
    justify-content: center;
}

.texto2{
    display: flex;
    justify-content: center;
}

.estudios{
    background-color: brown;
    display: flex;
    justify-content: space-evenly;

}

.imagenes{
    background-color: rgb(242, 41, 41);
}

.work{
    background-color: aqua;
}

.worktexto1{
    display: flex;
    justify-content: center;
}

.worktexto2{
    display: flex;
    justify-content: center;
}

.tp1, .tp2, .tp3{
    border: 1px solid black;
}

.tp1{
    width: 10rem;
    height: 9rem;
}

.tp2{
    width: 13rem;
    height: 11rem;
}

.tp3{
    width: 8rem;
    height: 9rem;
    margin-left: 50%;

}

.tp1tp2{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.dibujo-titulo{
    background-color: blue;
}
.titulo{
    display: flex;
    justify-content: center;
}

.formulario{
    display: flex;

}
.redessociales{
    background-color: lightcoral;
    width: 50%;
}

.mensaje{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}


footer{
    background-color: aquamarine;
}
