body{
    margin: -11rem 0 0 0;
    padding: 0;
    font-family:'Quicksand', sans-serif;
}

/* SECCION DEL HEADER Y DEL HERO*/
header{
    height: 42rem;
    margin: 0rem 3rem 3rem 3rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.2rem rgba(158, 156, 156, 0.8);

}

header .logo{
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    padding-top: 3rem;
    padding-left: 2rem;

    
}

.dibujologo{
    background-color: rgb(249, 245, 245); 
    border-radius: 50%;
    padding-top: 1rem;
    margin-top: -1rem;
    box-shadow: 0.5rem 0.5rem 1rem  rgba(0, 0, 0, 0.2);

}

nav{
    position: relative;
    right: 3rem;
    top: 2rem;

}

a{
  text-decoration: none; 
  font-size: 1.6rem;
  padding-right: 2rem;
  color: rgba(233, 66, 10, 0.952);

}

.hero{
    height: 70vh ;
    margin-top: 13rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    


}

.hero1{
    height: 80%;
    width: 45%;
    padding-top: 5rem ;
    margin-left: 5%;
}
.hero2{
    height: 80%;
    width: 45%;
    padding-top: 5rem;
}

.hero1 h1{
    font-size: 5.7rem;
    margin: 0 0 0 7rem;
    padding-top: 3rem;
    color: rgb(161, 185, 209);
}
.hero1 h3{
    font-size: 2.5rem;
    display: flex;
    justify-content: end;  
    color: rgb(161, 185, 209);
    margin-top: 0.5rem;
}

.hero1 button{
    margin-left: 60%;
    font-size: 1.6rem;
    padding: 1rem 2.3rem;
    margin-top: -1rem;
    border-radius: 1rem;
    background-color: rgba(175, 140, 88, 0.979);
    border-color:rgba(175, 140, 88, 0.979) ;
    color: white;
    box-shadow: none;
}


/* SECCION ABOUT ME */
.about{
    margin-bottom: 3rem;
}


.textoabout{
    display: flex;
    flex-direction: column;
}

.texto1{
    display: flex;
    justify-content: center;
    font-size: 5em;
    margin-bottom: 0;
    color: rgb(212, 169, 176);
}

.texto2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(161, 185, 209);
}

.estudios{
    display: flex;
    justify-content: space-evenly;
}

.estudios div{
    border: 1px solid rgba(248, 243, 243, 0.8);
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
    box-shadow: 0 0 0.3rem rgba(158, 156, 156, 0.8);
}

.dibujoestudios{
    height: 150rem;
    width: 15rem;
}

/* SECCION IMAGENES*/
.imagenes{
    background-color: rgb(242, 41, 41);
    display: flex;
    justify-content: end;
}

/*SECCION WORK*/
.work{
    background-color: aqua;
    margin-bottom: 2rem;
}

.worktexto1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 0;
}

.worktexto2{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.worktp{
    display: flex;
}

.tp1, .tp2, .tp3{
    border: 1px solid black;
}

.tp1tp2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tp1{
    width: 25rem;
    height: 18rem;
    margin-bottom: 3.5rem;
}

.tp2{
    width: 25rem;
    height: 14rem;
}

.tp3{
    width: 20rem;
    height: 25rem;
    margin-left: 20%;
    margin-right: 5%;

}

/*SECCION DIBUJO Y TITULO*/

.dibujo-titulo{
    background-color: blue;
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

/*SECCION FORMULARIO*/
.formulario{
    display: flex;

}
.redessociales{
    background-color: lightcoral;
    width: 40%;
    font-size: 2rem;
    padding-left: 5rem;
    height: 35rem;
    
}

.social{
    display: flex;
}

.mensaje{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 45%;
    height: 40rem;
    padding-top: 3rem; 
    padding-left: 10rem;
    
    
}

.mensaje input{
    width: 80%;
    height: 3rem;
    margin-bottom: 2rem;
   
}

textarea{
    width: 80%;
    height: 15rem;
    margin-bottom: 2rem;
}


.mensaje button{
    width: 12rem;
    height: 3rem;
    margin-left: 25%;
    
}

.mensaje h3{
    font-size: 1rem;
    padding-left: 11rem;
}

/*SECCION FOOTER*/

footer{
    background-color: aquamarine;
    height: 20rem;
    padding-top: 5rem;
    margin-top: -8rem;
}
